# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Nuxt output
.output
.nuxt
.data
dist

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode
*.sw?

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db
